.search-result-word-container {
  padding: 10px;
}

.search-result-indiviual-card {
  padding-left: 10px;
  padding-top: 4px;
}

.word-detail-main-word {
  padding: 12px;
}

.word-detail-details {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 15px;
}

.word-detail-reading {
  padding-right: 2%;
}

.word-list-details {
  padding: 5px;
  margin-right: 7px;
  margin-top: 7px;
}

.word-list-overflow-container {
  overflow: auto;
}